<div class="form-group" *ngIf="selectedAccount">
  <div class="title-loading">
  <h2 class="page-header">Dashboard de Cadastros</h2>
  <app-bn-loading class="loading" *ngIf="estadoLista === 'undefined'"></app-bn-loading>
</div>

<div *ngIf="estadoLista === 'vazia'">
  <p>Não foi encontrado nenhum Cadastro na Blockchain!</p>
</div>

<div *ngIf="estadoLista === 'cheia'">
  <input class="form-control barra-filtro" type="text" name="search" [(ngModel)]="filter" placeholder="Filtro">

  <div class="table-responsive-md">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr *ngIf="listaTransacoesPJ.length > 0">
          <th [class.active]="order === 'razaoSocial'" (click)="setOrder('razaoSocial')">Razão Social
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th class="cnpj-table-cell" [class.active]="order === 'cnpj'" (click)="setOrder('cnpj')">CNPJ
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'nomeConta'" (click)="setOrder('nomeConta')">Contrato Financeiro
              <i [hidden]="reverse" class="fa fa-caret-down"></i>
              <i [hidden]="!reverse" class="fa fa-caret-up"></i>
            </th>
            <th [class.active]="order === 'Perfil'" (click)="setOrder('perfil')">Perfil
              <i [hidden]="reverse" class="fa fa-caret-down"></i>
              <i [hidden]="!reverse" class="fa fa-caret-up"></i>
            </th>
            <th>Declaração</th>
          <th [class.active]="order === 'dataHora'" (click)="setOrder('dataHora')">Data/Hora
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'contaBlockchain'" (click)="setOrder('contaBlockchain')">Conta Blockchain
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th [class.active]="order === 'status'" (click)="setOrder('status')">Status
            <i [hidden]="reverse" class="fa fa-caret-down"></i>
            <i [hidden]="!reverse" class="fa fa-caret-up"></i>
          </th>
          <th>Link Etherscan</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transacaoPJ of listaTransacoesPJ | orderBy: order: reverse: 'caseInsensitive':customComparator | filter:filter | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
          <td>{{transacaoPJ.razaoSocial}}</td>
          <td>{{transacaoPJ.cnpj | cnpjMask}}</td>
          <td>{{transacaoPJ.nomeConta | contratoMask}}</td>
          <td>{{transacaoPJ.perfil}}</td>
          <td class="tooltipCaixa">
            <a *ngIf="transacaoPJ.hashDeclaracao.length > 1" target="_blank" href="{{transacaoPJ.filePathAndName}}">
              {{transacaoPJ.hashDeclaracao | hashMask}}
            </a>          

<!--
          <a *ngIf="transacaoPJ.filePathAndName" target="_blank" href="{{transacaoPJ.filePathAndName}}">
            {{transacaoPJ.hashDeclaracao | hashMask}}
          </a>          
          <span *ngIf="!transacaoPJ.filePathAndName">{{transacaoPJ.hashDeclaracao | hashMask}}</span>          
          <span class="tooltiptext" style="width: 520px;" *ngIf="transacaoPJ.hashDeclaracao">{{transacaoPJ.hashDeclaracao}}</span>
        -->        
        
        </td>
          <td>{{transacaoPJ.dataHora | date: 'dd/MM/yyyy hh:mm a' }}</td>
          <td>{{transacaoPJ.contaBlockchain}}</td>
          <td>{{transacaoPJ.status}}</td>
          <td class="text-center">
            <a target="_blank" href="https://{{blockchainNetworkPrefix}}etherscan.io/tx/{{transacaoPJ.hashID}}">
              <i class="fa fa-link" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo" class="paginacao"></pagination-controls>
  </div>
</div>

</div>
<app-metamsg *ngIf="!selectedAccount"></app-metamsg>

