# embora digam para colocar no source repository, decidimos não colocar
package-lock.json
config.json
arquivos/declaracao
arquivos/upload


# dependencies
/node_modules
/arquivos/*.pdf
/arquivos/*.txt
/arquivos/*.jpg
/arquivos/*.png
/arquivos/*.gif
/arquivos/*.csv
/arquivos/*.xls
/arquivos/*.doc

/arquivos/declaracao/*.pdf
/arquivos/declaracao/*.txt
/arquivos/declaracao/*.jpg
/arquivos/declaracao/*.png
/arquivos/declaracao/*.gif
/arquivos/declaracao/*.csv
/arquivos/declaracao/*.xls
/arquivos/declaracao/*.doc

/arquivos/upload/*.pdf
/arquivos/upload/*.txt
/arquivos/upload/*.jpg
/arquivos/upload/*.png
/arquivos/upload/*.gif
/arquivos/upload/*.csv
/arquivos/upload/*.xls
/arquivos/upload/*.doc

