<div class="form-group" *ngIf="selectedAccount">

    <div class="form-group">
      <h2>Associar Conta Blockchain ao e-CNPJ</h2>
    </div>

    <div class="conteudo form-group" >
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h6>Dados Cadastrais:</h6>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4 col-sm-4">
          <label>CNPJ do Doador:</label>
          <input  #cnpj name="cnpjWithMask"  [(ngModel)]="doador.cnpjWithMask" class="form-control form-control-sm" (input)="changeCnpj()"
          [textMask]="{mask: maskCnpj}" required/>
        </div>

        <div class="form-group col-md-6 col-sm-6" *ngIf="doador.dadosCadastrais">
          <label>Razão Social:</label>
          <input name="razaoSocial" class="form-control form-control-sm" [ngModel]="doador.dadosCadastrais.razaoSocial" readonly disabled/>
        </div>

      </div>
    </div>

    <div class="conteudo form-group" *ngIf="doador.dadosCadastrais">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <h6>Associação de contas:</h6>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain Selecionada:</label>
          <input name="contaBlockchain" class="form-control form-control-sm" type="text" [ngModel]="selectedAccount" readonly disabled size="45">
            <div class="msg-conta-invalida" >
              {{contaEstaValida}}
            </div>
        </div>

      </div>

      <div class="row">
          <div class="form-group col-md-6 col-sm-6 ">
              <label>Declaração:<a target="_blank" href="https://github.com/bndes/bndestoken/blob/master/Docs-Declaracao/Modelo/ModeloContaFornecedor.docx?raw=true">
                (baixar Modelo da Declaração)
              </a></label>              
              <input ng2FileSelect id="arquivo" type="file" accept=".pdf" [uploader]="this.fileHandleService.uploader" (change)="this.fileHandleService.chamaUpload()" /> 
              <div class="msg-conta-invalida" *ngIf="hashdeclaracao">
                Hash da Declaração: {{hashdeclaracao}}
              </div>
        </div>          
      </div>

    </div>

    <div class="form-group" *ngIf="doador.dadosCadastrais">
      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Salvar" (click)="associaContaDoador()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Enviar
      </button> 

      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="cancelar" (click)="cancelar()">
        Cancelar
      </button>

    </div>

  
</div>
<app-metamsg *ngIf="!selectedAccount"></app-metamsg>