<div class="form-group" *ngIf="selectedAccount">

    <div class="form-group">
      <h2>Trocar conta blockchain do e-CNPJ</h2>
    </div>

    <div class="conteudo form-group" >

      <div class="row">

        <div class="col-md-12 col-sm-12">
          <p>Dados Cadastrais</p>
        </div>        

          <div class="form-group col-md-4 col-sm-4">
            <label>CNPJ do Doador:</label>
            <input name="cnpjWithMask" [(ngModel)]="doador.cnpjWithMask" class="form-control form-control-sm"  (input)="changeCnpj()" 
            [textMask]="{mask: maskCnpj}"  required [disabled]="this.flagUploadConcluido"/>
          </div>

          <div class="form-group col-md-6 col-sm-6" *ngIf="doador.dadosCadastrais">
            <label>Razão Social:</label>
            <input name="razaoSocial" class="form-control form-control-sm" [(ngModel)]="doador.dadosCadastrais.razaoSocial" readonly  
            disabled/>
          </div>        

      </div>
    </div>

    <div class="conteudo form-group" *ngIf="doador.dadosCadastrais">

      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <p>Trocar associação de CNPJ e Conta Blockchain:</p>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-5 col-sm-5">
            <label>Conta Blockchain Associada a ser trocada:</label>
            <input name="contaBlockchainAssociada" class="form-control form-control-sm" type="text" [(ngModel)]="contaBlockchainAssociada" readonly
              disabled size="45" required>
        </div>

        <div>
          <img src="assets/img/seta.png" />
        </div>

    
        <div class="form-group col-md-5 col-sm-5">
          <label>Conta Blockchain Nova:</label>
          <input name="contaBlockchain" class="form-control form-control-sm" type="text" 
          [ngModel]="selectedAccount" readonly 
            disabled size="45">
            <div class="msg-conta-invalida" >
                {{contaEstaValida}}
            </div>
        </div>
      </div>



    </div>
    <div class="conteudo form-group" *ngIf="doador.dadosCadastrais">
        <div class="row">
          <div class="form-group col-md-12 col-sm-12">
            <p>Upload de Declaração</p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-10 col-sm-10 ">
              <label>Upload da declaração de propriedade e responsabilidade sobre conta blockchain, assinada com o e-CNPJ.</label>
              <label> 1. Clique <a target="_blank" href="{{fileHandleService.getCaminhoModeloDeclaracaoContaDigital()}}">aqui</a> baixar o Modelo de Declaração  (documento Word)</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-10 col-sm-10">
            <label>2. Preencha a declaração no Word com os dados da sua instituição e salve o documento como PDF</label>
          </div>
        </div>  
        <div class="row">
          <div class="form-group col-md-10 col-sm-10">
            <label>3. Clique <a target="_blank" href="{{fileHandleService.getCaminhoRoteiroAssinaturaDigital()}}">aqui</a> para baixar o Roteiro para Assinatura Digital</label>
          </div>
        </div>       
        <div class="row">
          <div class="form-group col-md-10 col-sm-10">
            <label>4. Siga as instruções para assinar o PDF da declaração com seu e-CNPJ, e gerar um novo PDF assinado digitalmente</label>
          </div>
        </div>       
        <div class="row">
          <div class="form-group col-md-10 col-sm-10">
            <label>5. Faça upload do PDF da Declaração assinado digitalmente</label>
          </div>
        </div>                                         
        <div class="row">                 
          <div class="form-group col-md-10 col-sm-10">
              <input ng2FileSelect id="arquivo" type="file" accept=".pdf" [uploader]="this.fileHandleService.uploader" (change)="this.fileHandleService.chamaUpload()" /> 
              <div class="msg-hash-declaracao" *ngIf="hashdeclaracao">
                Hash da Declaração: {{hashdeclaracao}}
              </div>
          </div>              
        </div>          
      </div>

    

    <div class="form-group" *ngIf="doador.dadosCadastrais">

      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="Salvar" 
        (click)="trocaAssociacaoConta()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Enviar
        </button>


      <button type="button" class="btn btn-success btn-cabecalho" placement="bottom" ngbTooltip="cancelar" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  
  </div>
  <app-metamsg *ngIf="!selectedAccount"></app-metamsg>
  